<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>nova udw</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
  <link href="/static/assets/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen"/>
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link href="/static/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <!-- END CORE CSS FRAMEWORK -->
  <link rel="stylesheet" href="/static/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/assets/plugins/jquery-morris-chart/css/morris.css" type="text/css" media="screen">

  <!-- BEGIN CSS TEMPLATE -->
  <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/plugins/jquery-notifications/css/messenger.css" rel="stylesheet" type="text/css" media="screen"/>
  <link href="/static/assets/plugins/jquery-notifications/css/messenger-theme-flat.css" rel="stylesheet" type="text/css" media="screen"/>
  <!-- END CSS TEMPLATE -->

  <!-- BEGIN CUSTOM CSS -->
  {% block css_include %}
  {% endblock %}
  <!-- END CUSTOM CSS -->
  <link rel="stylesheet" href="/static/assets/plugins/timecircles/TimeCircles.css" type="text/css">
</head>
  <!-- END HEAD -->

  <!-- BEGIN BODY -->
<body class="">
  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-inverse ">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="header-seperation">
        <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
          <li class="dropdown">
            <a id="main-menu-toggle" href="#main-menu"  class="" >
              <div class="iconset top-menu-toggle-white"></div>
            </a>
          </li>
        </ul>
        <!-- BEGIN LOGO -->
        <a href="index.html">
          <img src="/static/assets/img/logo2.png" class="logo" alt=""  data-src="/static/assets/img/logo2.png" data-src-retina="/static/assets/img/logo2.png" width="220" height="21"/>
        </a>
        <!-- END LOGO --> </div>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav" >
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="pull-left">
          <ul class="nav quick-section">
            <li class="quicklinks">
              <a href="#" class="" id="layout-condensed-toggle" >
                <div class="iconset top-menu-toggle-dark"></div>
              </a>
            </li>
          </ul>
          <ul class="nav quick-section">
            <li class="quicklinks">
              <a href="#" class="" >
                <div class="iconset top-reload"></div>
              </a>
            </li>
            <li class="quicklinks">
              <span class="h-seperate"></span>
            </li>
            <li class="quicklinks">
              <a href="#" class="" >
                <div class="iconset top-tiles"></div>
              </a>
            </li>
          </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
        <!-- BEGIN CHAT TOGGLER -->
        <div class="pull-right">
          <div class="chat-toggler">
            <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
              <div class="user-details">
                <div class="username">
                  <span class="bold">白祎京</span>
                </div>
              </div>
              <div class="iconset top-down-arrow"></div>
            </a>
            <div id="notification-list" style="display:none">
              <div style="width:300px">
                <div class="notification-messages info">
                  <div class="user-profile">
                    <img src="/static/assets/img/profiles/d.jpg"  alt="" data-src="/static/assets/img/profiles/d.jpg" data-src-retina="/static/assets/img/profiles/d2.jpg" width="35" height="35"></div>
                  <div class="message-wrapper">
                    <div class="heading">David Nester - Commented on your wall</div>
                    <div class="description">Meeting postponed to tomorrow</div>
                    <div class="date pull-left">A min ago</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="notification-messages danger">
                  <div class="iconholder"> <i class="icon-warning-sign"></i>
                  </div>
                  <div class="message-wrapper">
                    <div class="heading">Server load limited</div>
                    <div class="description">Database server has reached its daily capicity</div>
                    <div class="date pull-left">2 mins ago</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="notification-messages success">
                  <div class="user-profile">
                    <img src="/static/assets/img/profiles/h.jpg"  alt="" data-src="/static/assets/img/profiles/h.jpg" data-src-retina="/static/assets/img/profiles/h.jpg" width="35" height="35"></div>
                  <div class="message-wrapper">
                    <div class="heading">You haveve got 150 messages</div>
                    <div class="description">150 newly unread messages in your inbox</div>
                    <div class="date pull-left">An hour ago</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="profile-pic">
              <img src="/static/assets/img/profiles/avatar_small.jpg"  alt="" data-src="/static/assets/img/profiles/avatar_small.jpg" data-src-retina="/static/assets/img/profiles/avatar_small.jpg" width="35" height="35" />
            </div>
          </div>
          <ul class="nav quick-section ">
            <li class="quicklinks">
              <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                <div class="iconset top-settings-dark "></div>
              </a>
              <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                <li>
                  <a href="user-profile.html">My Account</a>
                </li>
                <li>
                  <a href="calender.html">My Calendar</a>
                </li>
                <li>
                  <a href="email.html">
                    My Inbox&nbsp;&nbsp;
                    <span class="badge badge-important animated bounceIn">2</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="login.html"> <i class="fa fa-power-off"></i>
                    &nbsp;&nbsp;Log Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- END CHAT TOGGLER --> </div>
      <!-- END TOP NAVIGATION MENU --> </div>
    <!-- END TOP NAVIGATION BAR --> </div>
  <!-- END HEADER -->
  <!-- BEGIN CONTAINER -->
  <div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar" id="main-menu">
      <!-- BEGIN MINI-PROFILE -->
      <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <ul>
          <li class="start active open ">
            <a href="index.html">
              <i class="icon-custom-home"></i>
              <span class="title">流程控制</span>
              <span class="selected"></span>
              <span class="arrow open"></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="/createmart">新建Mart表</a>
              </li>
            </ul>
            <ul class="sub-menu">
              <li >
                <a href="/viewmart">浏览Mart表</a>
              </li>
            </ul>
            <ul class="sub-menu">
              <li >
                <a href="/createtask">新建任务</a>
              </li>
            </ul>
            <ul class="sub-menu">
              <li >
                <a href="/viewtask">浏览任务</a>
              </li>
            </ul>
          </li>

        </ul>
        <div class="side-bar-widgets">

        </div>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU --> </div>
    </div>
    <a href="#" class="scrollup">Scroll</a>
    <div class="footer-widget">
      <div class="pull-right">
        
        <a href="lockscreen.html">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content">
      {% block pagecontent %}
      {% endblock %}
    </div>
    <!-- END CONTAINER -->
  </div>
    <!-- BEGIN CORE JS FRAMEWORK-->
    <script src="/static/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/breakpoints.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/backbone/backbone.js" type="text/javascript"></script>

    <!-- END CORE JS FRAMEWORK -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/static/assets/plugins/jquery-slider/jquery.sidr.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
    <script src="/static/assets/js/raphael-min.js"></script>
    <script src="/static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>

    <script src="/static/assets/plugins/timecircles/TimeCircles.js"></script>
    <script src="/static/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>
    <script src="/static/assets/js/tabs_accordian.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-notifications/js/messenger.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-notifications/js/messenger-theme-future.js" type="text/javascript"></script>


    <script type="text/javascript" src="/static/assets/plugins/jquery-notifications/js/demo/demo.js"></script>

    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN CORE TEMPLATE JS -->

    <script src="/static/assets/js/core.js" type="text/javascript"></script>
    <script src="/static/assets/js/novaudw.js" type="text/javascript"></script>
    <script src="/static/assets/js/chat.js" type="text/javascript"></script>
    <script src="/static/assets/js/demo.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->

    <!-- BEGIN CUSTON JS -->
    {% block js_include %}
    {% endblock %}
    <!-- END CUSTOM JS -->
</body>
  </html>
